html {
    --accent: #5660ea;
    --accent-text: #6872f8;
    --background: #1f1f1f;
    --transparent-background: rgba(32, 32, 32, 0.34);
    --shadow: rgba(12, 12, 12, 0.709);
    --button: #626bf0;
    --text: #f0f3ff;
    --inverted-text: var(--text);
    --border-color: #cccccc;
    --button-hover: #292929;
    --highlight-shadow: #727de4;
    --background-card: rgba(68, 68, 68, 0.48);
    --transparent-image-background: rgba(36, 36, 36, 0.54);
    --red: #e34660;
}

::selection,
::-moz-selection {
    background: rgba(102, 115, 146, 0.33) !important;
}