html {
    --accent: #3757b5;
    --accent-hightlight: #5373ca;
    --base00: #f0f3ff;
    --base01: #e0e3ef;
    --base02: #d7dae6;
    --shadow: #c1c3cf;
    --text: #010103;
    --inverted-text: var(--base00);
}