html {
    --accent: #4a50d9;
    --accent-text: #434eec;
    --background: #f2f0e3;
    --transparent-background: rgba(229, 228, 211, 0.516);
    --shadow: rgba(119, 118, 103, 0.709);
    --button: #4c56e0;
    --text: #2e2e2e;
    --inverted-text: var(--background);
    --border-color: #343434;
    --button-hover: #e3e1d4;
}