html {
  scroll-behavior: smooth;
}
#guide-menu {
  position: fixed;
  left: 0rem;
  top: 50%;
  display: flex;
  flex-direction: row;
  transform: translateY(-50%);
  align-items: center;
}
.guide-menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 0px 50px 5px var(--shadow);
  background-color: var(--transparent-background);
  padding: 1.5rem;
  padding-left: 0.5rem;
  border-top-right-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
}
.guide-button {
  padding: 1rem 1rem;
  border-radius: 0.75rem;
  text-align: left;
  width: 12rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
}
#guide-menu-toggle {
  display: none;
}
.guide-button svg {
  stroke: var(--text);
}
.guide-button:hover {
  background-color: var(--background-card);
  cursor: pointer;
  scale: 1.05;
}
.guide-button.active {
  background-color: var(--button);
  color: var(--white-text);
}
.guide-button.active svg {
  stroke: var(--white-text);
}
.guide-button-icon {
  width: 2rem;
}
main {
  margin-left: 14rem;
  width: calc(100% - 17rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 7rem;
}

.toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--green);
  box-shadow: 0px 0px 25px 0px
    color-mix(in srgb, var(--shadow) 70%, var(--green) 30%);
  color: var(--white-text);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  opacity: 0;
  z-index: -1;
  right: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.toast.toast-visible {
  opacity: 1;
  bottom: 1rem;
  right: 1rem;
  z-index: 10000;
}
code {
  font-family: "JetBrains Mono", monospace;
  color: var(--red);
  font-weight: 600;
  font-size: inherit;
  background-color: var(--background);
  border-radius: 0.5rem;
  padding: 0 0.2em;
}
kbd {
  font-family: "JetBrains Mono", monospace;
  border: 2px solid var(--background);
  box-shadow: 0px 0.25em 10px 0px var(--background) inset,
    0px 0.15em 10px 0px var(--shadow);
  padding: 0 0.2em;
  border-radius: 0.5rem;
  cursor: default;
}
#content {
  width: 100%;
}
code:hover {
  cursor: pointer;
}
a {
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0rem;
}
.guide-toggle-arrow {
  stroke: var(--text);
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  rotate: -90deg;
  width: 100%;
}
#guide-menu.active .guide-toggle-arrow {
  rotate: 90deg;
}

.instruction-card {
  border-radius: 2rem;
  background-color: var(--background-card);
  box-shadow: 0px 0px 30px 5px var(--shadow);
  max-width: 30rem;
}

.instruction-icon {
  stroke: var(--text);
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  margin: 0;
}

.instruction-number {
  border-radius: 10000px;
  background-color: var(--button);
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white-text);
}

.instruction-title {
  margin: 0;
  font-size: 1.5rem;
}
.instruction-card-top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}
.instruction-card-bottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0rem;
  align-items: center;
}
.instruction-description {
  font-size: 1.4rem;
  margin: 0;
  text-align: left;
}
.instruction-card .faq-card¨ {
  width: 100%;
  max-width: 40rem;
}
@media (max-width: 1170px) {
  main {
    margin-left: 0rem;
    width: calc(100% - 3rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #guide-menu {
    z-index: 40;
    transition: all ease-in-out 0.2s;
    transform: translateX(calc(2rem - 100%)) translateY(-50%);
  }
  #guide-menu.active {
    transform: translateX(0) translateY(-50%);
  }
  .guide-menu-buttons {
    box-shadow: none;
    background-color: var(--background);
  }
  #guide-menu-toggle {
    height: 10rem;
    width: 2rem;
    background-color: var(--background);
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #guide-menu.active {
    filter: drop-shadow(0px 0px 10px var(--shadow));
  }
  #guide-menu:not(.active) #guide-menu-toggle {
    box-shadow: 0px 0px 10px var(--shadow);
  }
  .instruction-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}
