#top-title {
  font-weight: 900;
  font-size: 1.9em;
  color: var(--text);
  overflow: visible;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

#top-title-accent {
  background: linear-gradient(
    60deg,
    rgb(62, 73, 232) 0%,
    rgb(83, 95, 250) 48%,
    rgb(121, 127, 209) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.4em;
  white-space: nowrap;
  animation: topTitle 0.3s ease-out 0ms 1 forwards;
  z-index: 2;
  position: relative;
}

@keyframes topTitle {
  0% {
    letter-spacing: 40px;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  70% {
    letter-spacing: -5px;
  }

  100% {
    letter-spacing: normal;
  }
}

.accent-text {
  font-style: italic;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(62, 73, 232), 0 0 1em rgb(83, 95, 250),
    0 0 0.2em rgb(121, 127, 209);
  color: var(--white-text);
}

.main-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

#try-now-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.try-now-clipped-smpp-logo {
  opacity: 1;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

main {
  backdrop-filter: blur(6px);
}

.try-now-arrow {
  stroke: var(--white-text);
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  width: 0px;
  filter: blur(5px);
  transform: translateX(100%);
}

.try-now-button:hover .try-now-clipped-smpp-logo {
  transform: translateX(-100%);
  filter: blur(5px);
  opacity: 0;
  width: 0px;
}

.try-now-button:hover .try-now-arrow {
  transform: translateX(0px);
  filter: none;
  opacity: 1;
}

.try-now-button:hover .try-now-text {
  font-weight: 700;
}

.try-now-text {
  font-size: 3em;
  transition: all 0.3s ease-in-out;
}

.try-now-button {
  gap: 1rem;
  background: linear-gradient(
    60deg,
    rgb(62, 73, 232) 0%,
    rgb(121, 127, 209) 100%
  );
  border-radius: 3rem;
  border: none;
  text-decoration: none;
  color: var(--white-text);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  overflow: hidden;
  height: 5rem;
  transition: all 0.3s ease-in-out;
}

.try-now-button:hover {
  box-shadow: 0 0 40px 7px var(--highlight-shadow);
  scale: 1.02;
  z-index: 1;
}

.try-now-button:hover .try-now-arrow,
.try-now-clipped-smpp-logo {
  width: 4rem;
  aspect-ratio: 1;
}

#theme-preview-container {
  position: relative;
  width: calc(800px + 2rem);
  height: 600px;
  margin: 0 auto;
}

.preview-img-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 0.5rem;
  background-color: var(--background-card);
  backdrop-filter: blur(10px);
  transform: scale(0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview-img-container.active {
  transform: scale(1) translateX(0);
  opacity: 1;
  z-index: 10;
  box-shadow: 0px 0px 45px 10px var(--shadow);
}

.preview-img-container.prev,
.preview-img-container.next {
  opacity: 0.9;
  z-index: 1;
  box-shadow: 0px 0px 45px 10px var(--shadow);
}

.preview-img-container.active:hover {
  scale: 1.05;
}

body:has(.preview-img-container.active:hover) {
  background-color: var(--transparent-image-background);
}

body {
  background-color: var(--background);
  transition: background-color 0.5s cubic-bezier(0.76, 0.4, 0.34, 0.93);
}

html {
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  transition: all;
  transition-delay: 0.5s;
}

html:has(.preview-img-container.ready #darkSands) {
  background-image: url(../media/backgroundDarkSands.webp);
}

html:has(.preview-img-container.ready #midnightSapphire) {
  background-image: url(../media/backgroundMidnightSapphire.webp);
}

html:has(.preview-img-container.ready #rubyEclipse) {
  background-image: url(../media/backgroundRubyEclipse.webp);
}

html:has(.preview-img-container.ready #cherryHaze) {
  background-image: url(../media/backgroundCherryHaze.webp);
}

html:has(.preview-img-container.ready #fluorescentGalaxy) {
  background-image: url(../media/backgroundFluorescentGalaxy.webp);
}

.preview-img-container.prev {
  transform: scale(0.7) translateX(-40%);
}

.preview-img-container.next {
  transform: scale(0.7) translateX(40%);
}

.preview-img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.preview-img-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.preview-img-buttons {
  position: absolute;
  left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.preview-img-title {
  font-weight: 700;
  font-size: 1.2em;
}

.traffic-light-button {
  width: 1rem;
  height: 1rem;
}

#theme-preview-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 2rem;
}

.theme-preview-button {
  padding: 1rem;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: var(--button-background);
}

.theme-preview-button:hover {
  background-color: var(--background-card);
  backdrop-filter: blur(10px);
}

.theme-preview-button:hover .prev-arrow,
.theme-preview-button:hover .next-arrow {
  scale: 1.2;
}

.prev-arrow,
.next-arrow {
  transition: all 0.2s ease-in;
  stroke: var(--text);
  width: 3rem;
  height: 3rem;
}

.prev-arrow {
  rotate: 180deg;
}

@keyframes size-swap {
  0% {
    scale: 1;
    box-shadow: 0px 0px 45px 10px transparent;
  }

  100% {
    scale: 0.5;
    opacity: 0;
    box-shadow: 0px 0px 45px 10px var(--shadow);
  }
}

#productivity {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#prod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
}

#clock-container,
#prod-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prod-preview.changing {
  animation: size-swap 0.25s ease-in-out 0ms 2 alternate;
}

#clock-container {
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

#preview-prod-description {
  width: 800px;
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 500;
}

#clock-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-wrap: nowrap;
  z-index: 1;
}

#digital-time {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.7rem;
  z-index: 1;
}

#clock {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 15rem;
  background-color: var(--background-card);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 45px 10px var(--shadow);
  position: relative;
}

#big-handle,
#small-handle {
  position: absolute;
  transform-origin: bottom center;
  left: calc(-0.5rem + 50%);
  top: calc(-0.5rem + 50%);
  background-color: var(--white-text);
  width: 1rem;
  transform: rotate(0deg);
  border-radius: 0.5rem;
  transition: transform 0.75s cubic-bezier(0.58, 0.14, 0.44, 1.2);
  box-shadow: 0px 0px 30px 1px var(--shadow);
}

.clock-point {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--accent);
  border-radius: 50%;
  top: calc(-1rem + 50%);
  left: calc(-1rem + 50%);
  transition: all 0.15s ease-in;
  transition: box-shadow 0.25s ease-in scale 0.15s ease-in-out;
  opacity: 0.9;
  backdrop-filter: blur(3px);
}

.clock-point:hover {
  scale: 1.05;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px var(--highlight-shadow);
}

.clock-point.active {
  box-shadow: 0px 0px 10px 0px var(--highlight-shadow);
  opacity: 1;
}

#point-10am {
  transform: rotate(312.5deg) translateY(-6.2rem) rotate(-312.5deg);
}

#point-12am {
  transform: rotate(7.5deg) translateY(-6.2rem) rotate(7.5deg);
}

#point-4pm {
  transform: rotate(125deg) translateY(-6.2rem) rotate(-125deg);
}

#point-8pm {
  transform: rotate(255deg) translateY(-6.2rem) rotate(-255deg);
}

#small-handle {
  height: 30%;
  top: 20%;
}

#big-handle {
  height: 45%;
  top: 5%;
}

#clock-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#time-forward-button,
#time-back-button {
  width: 4.5rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
  background-color: var(--button-background);
  display: flex;
  justify-content: center;
}

#time-forward-button {
  transform-origin: left;
}

#time-back-button {
  transform-origin: right;
}

#time-forward-button:hover,
#time-back-button:hover {
  background-color: var(--background-card);
  backdrop-filter: blur(10px);
  cursor: pointer;
  transform: scaleX(1.1);
}

#time-forward-button:hover .clock-control-svg,
#time-back-button:hover .clock-control-svg {
  scale: 1.1;
}

.clock-control-svg {
  fill: var(--text);
  aspect-ratio: 1;
  width: 3rem;
  transition: all 0.25s ease-in-out;
}

.preview-prod-container {
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 0.5rem;
  background-color: var(--background-card);
  backdrop-filter: blur(10px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 45px 10px var(--shadow);
}

.preview-prod-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.preview-prod-buttons {
  position: absolute;
  left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#preview-prod-img {
  width: 800px;
  height: auto;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

#preview-prod-title {
  font-weight: 700;
  font-size: 1.2em;
}

#clock-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#prod-preview-wrapper {
  height: 640px;
}

#clock-title-mobile {
  display: none;
}

#fun {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#fun-container {
  padding: 1.5rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1250px;
  gap: 2rem;
}

#fun-app-gallery {
  padding: 1.5rem;
  aspect-ratio: 1;
  flex-grow: 1;
  background-color: var(--background-card);
  overflow: visible;
}

#fun-app-preview-container {
  flex-grow: 1;
  padding: 1.5rem;
  aspect-ratio: 1;
  background-color: var(--background-card);
  height: 100%;
  overflow: hidden;
  position: relative;
}

#fun-app-preview.changing {
  animation: size-swap 0.25s ease-in-out 0ms 2 alternate;
}

#fun-app-preview {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 2rem;
}

#fun-app-preview[src="media/previewGC.mp4"] {
  border-bottom-left-radius: 19px;
  padding-top: 10px;
  background-color: #181614;
}

#fun-app-video-container {
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  scale: 0.92;
  top: 0px;
  left: 0px;
}

.fun-app-container {
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 2rem;
  flex-grow: 1;
  background-color: var(--background-card);
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fun-app-preview-container,
#fun-app-gallery {
  width: calc(50% - 4.5rem);
  border-radius: 3rem;
  box-shadow: 0px 0px 45px 10px var(--shadow);
  z-index: 1;
}

#fun-app-gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  aspect-ratio: 1;
}

.fun-app-container:hover {
  scale: 1.1;
  cursor: pointer;
  box-shadow: 0px 0px 50px 15px var(--shadow),
    inset 0px 0px 50px 0px
      color-mix(in srgb, var(--highlight-shadow) 30%, var(--shadow) 70%);
}

.fun-app-container.active {
  box-shadow: 0px 0px 50px 5px transparent,
    inset 0px 0px 50px 10px var(--highlight-shadow);
}

.fun-app-container.active:hover {
  box-shadow: 0px 0px 50px 5px var(--shadow),
    inset 0px 0px 50px 0px var(--highlight-shadow);
}

.fun-app-icon {
  height: 10rem;
  padding-bottom: 0.5rem;
  aspect-ratio: 1;
  fill: var(--accent);
}

.fun-app-title {
  font-size: 2rem;
  font-weight: 800;
}

.emoji {
  font-size: 8rem;
}

#volume-container {
  display: none;
}

#fun-app-preview {
  display: none;
}

#volume-container.active {
  display: flex;
}

#fun-app-preview.active {
  display: block;
}

#volume-icon {
  width: 25rem;
  aspect-ratio: 1;
  fill: var(--text);
  transition: all 0.25s;
}

.volume-icon-x {
  transition: all 0.25s;
  fill: var(--red);
}

.volume-icon-hover:hover .volume-icon-x {
  fill: var(--text);
}

.volume-icon-hover:hover {
  scale: 1.1;
  cursor: pointer;
}

#volume-text {
  font-weight: 600;
  font-size: 2rem;
}

#fun-continue-button:hover {
  cursor: pointer;
}

#volume-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 1170px) {
  #top-title {
    font-size: 0.8em;
    overflow: hidden !important;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .main-title {
    font-size: 1.9rem;
    margin-bottom: 2rem;
  }

  #top-title-accent {
    font-size: 1.7em;
  }

  #try-now-button-container {
    margin-bottom: 3rem;
  }

  .try-now-button {
    padding: 1rem 1rem;
    height: 3rem;
    border-radius: 2rem;
  }

  .try-now-text {
    font-size: 2em;
    transition: all 0.3s ease-in-out;
  }

  .try-now-button:hover .try-now-arrow,
  .try-now-clipped-smpp-logo {
    width: 2rem;
    aspect-ratio: 1;
  }

  #theme-preview-container {
    position: relative;
    width: calc(250px + 1rem);
    height: 220px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  #theme-preview-buttons {
    margin-top: 0rem;
  }

  .preview-img-container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5rem;
    padding: 0.5rem;
    padding-top: 0.25rem;
  }

  .preview-img {
    max-width: 250px;
  }

  .preview-img-top {
    padding-bottom: 0.25rem;
  }

  .preview-img-buttons {
    display: none;
  }

  #prod-preview {
    height: 300px;
  }

  #preview-prod-description {
    width: 300px;
    font-size: 1.2rem;
    padding-top: 1rem;
    z-index: 2;
    height: 3rem;
  }

  #preview-prod-img {
    width: 300px;
    height: auto;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .preview-prod-container {
    border-radius: 1.5rem;
    padding: 0.5rem;
    padding-top: 0.25rem;
  }

  #prod {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  #clock {
    scale: 0.8;
  }

  #clock-container {
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }

  #clock-title {
    display: none;
  }

  #clock-title-mobile {
    display: block;
    font-size: 1.3rem;
  }

  .preview-prod-buttons {
    display: none;
  }

  #digital-time {
    font-size: 2rem;
    letter-spacing: 0.4rem;
  }

  #clock-buttons {
    gap: 1rem;
  }

  #time-forward-button,
  #time-back-button {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 0.75rem;
    transition: all 0.25s ease-in-out;
  }

  .clock-control-svg {
    width: 2.5rem;
  }

  #clock-bottom-container {
    gap: 2rem;
    width: 125px;
  }

  #prod-preview-wrapper {
    height: 300px;
  }

  #productivity {
    margin-bottom: 2rem;
  }

  #fun-container {
    flex-direction: column-reverse;
    width: 90%;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  #fun-app-preview-container,
  #fun-app-gallery {
    width: 100%;
    border-radius: 2.5rem;
    box-shadow: 0px 0px 45px 10px var(--shadow);
    z-index: 1;
    padding: 0.5rem;
  }

  .emoji {
    font-size: 5rem;
  }

  .fun-app-title {
    font-size: 1.3rem;
  }

  .fun-app-icon {
    height: 6rem;
    padding-bottom: 0.5rem;
    aspect-ratio: 1;
    fill: var(--accent);
  }

  #fun-app-gallery-grid {
    gap: 0.75rem;
  }

  #fun-app-preview[src="media/previewGC.mp4"] {
    border-bottom-left-radius: 19px;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #181614;
  }

  .mains {
    max-width: 100%;
  }
}
