.card {
  width: fit-content;
  padding: 0 2rem 1rem 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 2.2rem;
  color: var(--text);
  margin-bottom: 2rem;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.323) inset,
    0px 0px 30px 1px var(--shadow);
}
.first-card .card {
  margin-bottom: 0rem !important;
}
.card.dark {
  color: var(--white-text);
}

.card.light {
  color: var(--black-text);
}

.first-card {
  border-radius: 3.2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--button);
  box-shadow: 0 0 10px 2px var(--highlight-shadow);
  z-index: -3;
}

.backdrop-card {
  background-color: rgba(0, 0, 0, 0.21);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  backdrop-filter: blur(10px); /* 100px is excessive, try 10-20px */
  width: 100%;
  height: 100%;
}

.backdrop-card-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.markdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 8rem;
}

.upcoming-update {
  font-size: 2rem;
  font-weight: 700;
  z-index: 2;
  margin-bottom: 1rem;
  color: var(--white-text);
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--button);
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}
