.card {
  width: fit-content;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 2.2rem;
  color: var(--text-color);
  margin-bottom: 4rem;
  box-shadow: 0px 0px 20px 0px var(--shadow-color) inset,
    0px 0px 30px 5px var(--shadow-color);
  background-color: var(--background-ui2);
  z-index: -2;
  width: 40rem;
}
.first-card .card {
  margin-bottom: 0rem !important;
}
.card.dark {
  color: var(--white);
}

.card.light {
  color: var(--black);
}

.first-card {
  border-radius: 3.2rem;
  padding: 1rem;
  margin-bottom: 4rem;
  background: radial-gradient(
    farthest-corner at 50% 10%,
    rgb(76, 88, 243) 0%,
    var(--button) 100%
  );
  box-shadow: 0 0 10px -2px var(--highlight-shadow-color);
  z-index: -3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop-card {
  background-color: rgba(0, 0, 0, 0.21);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  backdrop-filter: blur(10px); /* 100px is excessive, try 10-20px */
  width: 100%;
  height: 100%;
}

.backdrop-card-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 8rem;
}

.upcoming-update {
  font-size: 2rem;
  font-weight: 700;
  z-index: 2;
  margin-bottom: 1rem;
  color: var(--white);
  width: fit-content;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  margin-top: 0rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--button);
}

h2 {
  font-size: 2rem;
  margin-top: 0rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 50rem;
  text-align: left;
}

p:last-child {
  margin-bottom: 1rem !important;
}

ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.2rem;
  text-align: left;
}
li {
  margin-bottom: 1.5rem;
}

@media (max-width: 1170px) {
  .card {
    width: 87.5% !important;
    padding: 0.5rem !important;
    padding-left: 1rem !important;
    margin-bottom: 2rem !important;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.323) inset,
      0px 0px 20px 2px var(--shadow-color) !important;
  }
  .first-card {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 2rem !important;
  }
  .first-card .card {
    width: calc(100% - 1.5rem) !important;
    border-radius: 2.7rem !important;
  }
  .upcoming-update {
    margin-bottom: 0.5rem !important;
    font-size: 1.7rem !important;
  }
  .main-content {
    width: 100%;
  }
  main {
    padding-top: 5rem !important;
  }
  h1 {
    font-size: 2.5rem !important  ;
  }
  h2 {
    font-size: 1.6rem !important;
    width: 90% !important;
    margin-left: 5% !important;
  }
  p {
    margin-bottom: 1.25rem !important;
  }
  li {
    margin-bottom: 0.5rem;
  }
  ul {
    padding-left: 1.5rem !important;
  }
}
