html {
    --icon-size: 2rem;
    font-family: "Montserrat", sans-serif;
    background-color: var(--base00);
    color: var(--text);
    display: flex;
    justify-content: center;
}

a {
    color: var(--accent);
}
a:hover {
    color: var(--accent-highlight);
}
body {
    width: 70%;
    align-self: center;
}
.top-sub-menu{
    display: none;
    position: absolute;
    transform: translateX(-50%);
}
#getting-started-button{

}
#getting-started-button:focus>.top-sub-menu{
    display: flex;
}
#top-title {
    font-weight: 900;
    font-size: 1.5em;
    color: var(--text);
    overflow: visible;
}
#top-title-accent{
    background: linear-gradient(60deg, rgb(72, 80, 189) 0%, rgba(86,96,234,1) 48%, rgb(121, 127, 209) 100%);
    -webkit-background-clip: text;
    font-size: 2em;
    background-clip: text;
    color: transparent;
    white-space: nowrap;
}
#top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-between;
    margin-bottom: 20px;
}

#light-dark-selectors,
#home-button-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@keyframes topTitle {
    0% {
        letter-spacing: 40px;
        opacity: 0;
    }
    20% {
        opacity: 1; 
    }

    70% {
        letter-spacing: -5px;
    }
    100% {
        letter-spacing: normal;
        opacity: 1; 
    }
}

#light-mode-selector,
#dark-mode-selector
 {
    fill: var(--text);
    padding: 5px;
    border-radius: 25%;
    margin: 5px;
    background-color: var(--base01);
    transition-duration: 0.2s;
    transition: ease-in-out;
    width: var(--icon-size);
    height: var(--icon-size);
}
#home-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text);
    padding: 10px;
    height: fit-content;
    background-color: transparent;
    gap: 10px;
    text-decoration: none;
    font-weight: 750;
    font-size: 1.2em;
    transition: all 0.15s ease-in-out;
}
#home-button:hover>img{
    scale: 1.1;
}
#home-button>img{
    transition: all 0.15s ease-in-out;
    
}
#home-button:hover{
    color: var(--accent);
}

#light-mode-selector:hover,
#dark-mode-selector:hover
 {
    background-color: var(--base02);
}

main {
    text-align: center;
}

footer {
    text-align: center;
}
@media (max-width: 1024px) {
    body{
        width: 100%;
    }
    #top-bar{
        margin-bottom: 10px;
    }
    #top-title{
        font-size: 0.6em;
    }
    #top-title-accent{
        font-size: 1.8em;
    }
    .visible-on-desktop{
        display: none;
    }
    #home-button>img{
        border-radius: 25%;
        width: 35px;
        height: 35px;
    }
}