html {
    --icon-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--accent-highlight);
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border: none;
    background: none;
    line-height: normal;
    vertical-align: baseline;
}

body {
    margin: 0;
    width: 75%;
    align-self: center;
}

.is-scrolled header {
    box-shadow: 0px 20px 50px 5px var(--shadow);
    background-color: var(--transparent-background);
    padding: 0.5rem 2rem 2rem 2rem;
}

header {
    position: fixed;
    height: 4rem;
    width: calc(75% - 4rem);
    padding: 1rem 2rem 2rem 2rem;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.2s ease-out;
}

main {
    padding-top: 7rem;
    overflow-x: hidden;
}

#top-nav {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 0.5rem;
}

#top-nav-menu-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.top-nav-menu-button.open-menu .top-sub-menu {
    opacity: 1;
    z-index: auto;
    filter: blur(0px);
    visibility: visible;
}

.top-nav-menu-button.open-menu .top-nav-arrow {
    rotate: 180deg;


}

.top-sub-menu {
    box-shadow: 0px 0px 50px 5px var(--shadow);
    border: 3px solid var(--border-color);
    padding: 1rem;
    opacity: 0;
    filter: blur(5px);
    z-index: -10;
    transition: all 0.15s ease-in;
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background);
    border-radius: 1rem;
    width: 40rem;
}

.top-sub-menu {
    cursor: default;
}

.top-nav-menu-button {
    border: none;
    background-color: transparent;
    color: var(--text);
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.top-nav-menu-button:hover {
    cursor: pointer;
}

.top-nav-arrow {
    stroke: var(--text);
    transition: all 0.15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.top-nav-menu-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 15px;
    transition: all 0.15s ease-in-out;
    color: var(--text);
    text-decoration: none;
}

.top-nav-menu-card:hover {
    cursor: pointer;
}

.top-nav-menu-card-title {
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
    font-size: large;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.top-nav-menu-card-description {
    font-weight: 500;
    font-size: medium;
}

.top-nav-menu-card:hover {
    background-color: var(--button-hover);
}

.top-nav-menu-card:hover .top-nav-menu-card-title {
    padding-left: 0.5rem;
}

#top-title {
    font-weight: 900;
    font-size: 1.5em;
    color: var(--text);
    overflow: visible;
}

#top-title-accent {
    background: linear-gradient(60deg, rgb(62, 73, 232) 0%, rgb(83, 95, 250) 48%, rgb(121, 127, 209) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
    white-space: nowrap;
    animation: topTitle 0.3s ease-out 0ms 1 forwards;
    z-index: -1;
    position: relative;
}

.download-button {
    gap: 5px;
    background: linear-gradient(60deg, rgb(62, 73, 232) 0%, rgb(121, 127, 209) 100%);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: var(--inverted-text);
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.clipped-smpp-logo {
    opacity: 1;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.download-button-text {
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}

.download-button-arrow {
    stroke: var(--inverted-text);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    opacity: 0;
    width: 0px;
    filter: blur(5px);
    transform: translateX(100%);
}

.download-button:hover {
    cursor: pointer;
}

.download-button:hover .clipped-smpp-logo {
    transform: translateX(-100%);
    filter: blur(5px);
    opacity: 0;
    width: 0px;
}

.download-button:hover .download-button-text {
    transform: translateX(calc(0 - 30px));
    color: var(--inverted-text);
}

.download-button:hover .download-button-arrow {
    transform: translateX(0px);
    filter: none;
    opacity: 1;

}

.download-button:hover .download-button-arrow,
.clipped-smpp-logo {
    width: 24px;
    height: 24px;
}

@keyframes topTitle {
    0% {
        letter-spacing: 40px;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        letter-spacing: -5px;
    }

    100% {
        letter-spacing: normal;
    }
}

.outer-top-nav-element {
    width: 230px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    overflow: visible;
}

#light-dark-selectors {
    justify-content: flex-end;
    gap: 10px;
}

#light-mode-selector>svg,
#dark-mode-selector>svg {
    padding: 5px;
    border-radius: 25%;
    transition: all 0.3s ease-in-out;
    width: var(--icon-size);
    height: var(--icon-size);
}

#light-mode-selector:hover>svg,
#light-mode-selector:focus>svg {
    rotate: 25deg;
}


#dark-mode-selector:hover>svg,
#dark-mode-selector:focus>svg {
    scale: 1.05;
    rotate: -10deg;
}

#home-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text);
    height: fit-content;
    background-color: transparent;
    gap: 10px;
    text-decoration: none;
    font-weight: 750;
    font-size: 1.2em;
    transition: all 0.15s ease-in-out;
}

#home-button:hover>img {
    scale: 1.05;
}

#home-button>img {
    transition: all 0.15s ease-in-out;
    border-radius: 5px;
}

#home-button:hover {
    color: var(--accent-text);
}

main {
    text-align: center;
}

footer {
    text-align: center;
}

::selection {
    background: rgba(182, 182, 182, 0.333) !important;
}

::-moz-selection {
    background: rgba(182, 182, 182, 0.333) !important;
}

@media (max-width: 1170px) {
    body {
        width: 100%;
    }

    header {
        width: calc(100% - 2rem);
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .is-scrolled header {
        box-shadow: 0px 20px 50px 5px var(--shadow);
        background-color: var(--transparent-background);
        padding: 0rem 1rem 0.5rem 1rem;
    }

    main {
        padding-top: 5rem;
    }

    #top-title {
        font-size: 0.6em;
        overflow: hidden !important;
    }

    #top-title-accent {
        font-size: 1.8em;
    }

    .visible-on-desktop {
        display: none !important;
    }

    #home-button>img {
        border-radius: 25%;
        width: 35px;
        height: 35px;
    }

}